.card {
    overflow: hidden;
    max-width: 25%;
    background: white;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);
    border-radius: 0.5rem;
    margin: 1.5rem;
}

.card img {
    display: block;
    max-width: 100%;
}

.card h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e0e0e0;
    font-size: 1.25rem;
}

.card h3 button {
    border-radius: 0.25rem;
    margin: -1rem 0;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}

.card h3 button:hover {
    color: blueviolet;
}

.card p {
    padding: 1rem 1rem;
}